<h2>Listado de posts</h2>
<hr>
<a class="btn btn-success" href="/posts/new">Crear Post</a>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Post</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.body}}</td>
      <td class="w-25">
        <a href="/posts/{{this.slug}}" class="btn btn-primary mx-1">Ver</a>
        <a href="/posts/edit/{{this._id}}" class="btn btn-warning mx-1">Editar</a>
        <form action="/posts/{{this._id}}?_method=DELETE" method="POST">
          <button class="btn btn-danger mx-1">Borrar</button>
        </form> 
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>